dist/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title></title>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href=""/>
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header_inner">
        	<a href="#!" class="mobile__menu"><img src="images/burger.png" alt="burger"></a>
          <nav class="nav">
            <ul class="nav__ul">
              <li class="nav__li"><a class="nav__link nav__link--active" href="index.html">О клубе</a></li>
              <li class="nav__li"><a class="nav__link" href="index1.html">гонка за продажами</a></li>
              <li class="nav__li race__learn-link">
              	<a class="nav__link" href="index2.html">Гонка за знаниями</a>
              	<div class="nav__li-sub">
                  <ul class="nav__ul">
                    <li class="nav__li"><a class="nav__link" href="index2.html#personal-contest">Личный зачет</a></li>
                    <li class="nav__li"><a class="nav__link" href="index2.html#team-contest">Командный зачет</a></li>
                    <li class="nav__li"><a class="nav__link" href="index2.html#other-contest">Дополнительные активности</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav__li"><a class="nav__link" href="#!">Рейтинги</a></li>
              <li class="nav__li"><a class="nav__link" href="#!">Победители</a></li>
            </ul>
          </nav>
          <div class="logo">
            <div class="logo__img"><img src="images/logo@2x.png"/></div>
          </div>
        </div>
      </div>
    </header>
    <section class="content">
      <section class="hero">
      	<div class="hero__parallax bg" data-parallax="scroll" data-position="bottom" data-speed="0.4" data-image-src="images/hero-bg@2x.jpg" data-natural-width="2732" data-natural-height="1200"></div>
        <div class="container hero-bg">
          <div class="hero__text">
          	
            <h1 class="hero__text-top">GRAND PRIX G-CLUB PROFESSIONAL</h1>
            <div class="hero__text-mid">
            	Участвуй в гонке</br>
            	<div class='hero__text-mid-span'>
            		<span>за</span> <span class='bold-italic'>продажами</span>
            	</div> 
          		<span>и</span> 
            	<div class='hero__text-mid-span'>
          			<span class='bold-italic'>знаниями</span>
          		</div>
          	</div>
            <div class="hero__text-bot">Выигрывай денежные подарки, ценные призы и<br>поездку в солнечную Грузию</div>
          </div>
        </div>
      </section>
      <section class="roadmap roadmap_race-sale">
        <div class="container">
          <h2 class="roadmap__title ttl2">Гонка за продажами</h2>
          <ul class="roadmap__ul">
            <li class="roadmap__item">
              <div class="roadmap__img"><img src="images/product-1.svg"/></div>
              <div class="roadmap__item-title">Закупай продукцию</div>
              <div class="roadmap__desc">Приобретай продукцию G-Energy через торговых представителей</div>
            </li>
            <li class="roadmap__item">
              <div class="roadmap__img"><img src="images/product-2.svg"/></div>
              <div class="roadmap__item-title">Получай денежные призы</div>
              <div class="roadmap__desc">Получай деньги на карту, участвуя в сезонных акциях</div>
            </li>
            <li class="roadmap__item">
              <div class="roadmap__img"> <img src="images/product-3.svg"/></div>
              <div class="roadmap__item-title">Становись лучше</div>
              <div class="roadmap__desc">Становись лучшим по объему закупленных литров G-Energy, выигрывай Гран-при и поездку в Грузию</div>
            </li>
          </ul>
          <div class="roadmap__extra">Следи за результатами гонки продаж <a href="#!">в общем рейтинге</a> на сайте.</div>
        </div>
      </section>
      <section class="getprizes">
				<div class="getprizes__parallax bg" data-parallax="scroll" data-position="center" data-speed="0.4" data-image-src="images/getprizes-bg@2x.jpg" data-natural-width="2732" data-natural-height="1400"></div>
        <div class="container getprizes-bg">
          <h2 class="getprizes__title">Зарабатывай ценные призы</h2>
          <ul class="getprizes__ul">
          	<li class="getprizes__item">
          		<div class="getprizes__img"><img src="images/icon-timeline-1.svg"/></div>
              <div class="getprizes__item-title">Зимняя гонка</div>
              <div class="getprizes__item-date">с 1 января по 10 марта</div>
              <div class="getprizes__desc">Получай подарочные сертификаты или обменивай баллы на путешествия</div>
          	</li>
          	<li class="getprizes__item">
          		<div class="getprizes__img"><img src="images/icon-timeline-2.svg"/></div>
              <div class="getprizes__item-title">Весенняя гонка</div>
              <div class="getprizes__item-date">с 18 марта по 19 мая</div>
              <div class="getprizes__desc">Зарабатывай бонусы за каждый литр закупленной продукции, получай денежные средства на карту</div>
          	</li>
          	<li class="getprizes__item">
          		<div class="getprizes__img"><img src="images/icon-timeline-1.svg"/></div>
              <div class="getprizes__item-title">Летняя гонка</div>
              <div class="getprizes__item-date">с 17 июня по 15 сентября</div>
              <div class="getprizes__desc">Получай подарочные сертификаты или обменивай баллы на путешествия</div>
          	</li>
          	<li class="getprizes__item">
          		<div class="getprizes__img"><img src="images/icon-timeline-2.svg"/></div>
              <div class="getprizes__item-title">Осенняя гонка</div>
              <div class="getprizes__item-date">с 16 сентября по 17 ноября</div>
              <div class="getprizes__desc">Зарабатывай бонусы за каждый литр закупленной продукции, получай денежные средства на карту</div>
          	</li>
          </ul>
          <div class="btn_wrap">
          	<a href="#!" class="btn_more">Узнать больше</a>
          </div>
        </div>
      </section>
      <section class="roadmap roadmap_race-learn">
        <div class="container">
          <h2 class="roadmap__title ttl2">Гонка за знаниями</h2>
          <h3 class="roadmap__title ttl3">Личный зачет</h3>
          <ul class="roadmap__ul">
            <li class="roadmap__item">
              <div class="roadmap__img"><img src="images/icon-personal-1.svg"/></div>
              <div class="roadmap__item-title">Посмотри вебинар</div>
              <div class="roadmap__desc">1 вебинар в сезон: зима, весна, лето и осень</div>
            </li>
            <li class="roadmap__item">
              <div class="roadmap__img"><img src="images/icon-personal-2.svg"/></div>
              <div class="roadmap__item-title">Пройди тест</div>
              <div class="roadmap__desc">Длительность теста — до 3 минут, ответь правильно на 2 и более вопросов</div>
            </li>
            <li class="roadmap__item">
              <div class="roadmap__img"> <img src="images/icon-personal-3.svg"/></div>
              <div class="roadmap__item-title">Получай призы</div>
              <div class="roadmap__desc">Мы дарим планшеты и другие ценные призы</div>
            </li>
          </ul>
          <h3 class="roadmap__title2 ttl3">Командный зачет</h3>
          <h4 class="roadmap__subtitle ttl4">ЛПР + лучший мастер-приемщик</h4>
          <ul class="roadmap__ul">
            <li class="roadmap__item">
              <div class="roadmap__img"><img src="images/product-1.svg"/></div>
              <div class="roadmap__item-title">Закупайте продукцию</div>
              <div class="roadmap__desc">Не менее 400 л PVL G-Family в сезоне</div>
            </li>
            <li class="roadmap__item">
              <div class="roadmap__img"><img src="images/icon-personal-2.svg"/></div>
              <div class="roadmap__item-title">Проходите обучение и тесты</div>
              <div class="roadmap__desc">1 вебинар в сезон: зима, весна, лето и осень</div>
            </li>
            <li class="roadmap__item">
              <div class="roadmap__img"> <img src="images/icon-team-3.svg"/></div>
              <div class="roadmap__item-title">Мероприятие для победителя</div>
              <div class="roadmap__desc">Мы проведем мероприятие в вашем СТО и наградим победителей ценными призами<br><br><a href="#!">Смотреть фото с мероприятий</a></div>
            </li>
          </ul>
          <div class="btn_wrap">
          	<a href="#!" class="btn_more">Узнать больше</a>
          </div>
        </div>
      </section>
      <section class="grandprix">
      	<div class="grandprix__parallax bg" data-parallax="scroll" data-position="center" data-speed="0.4" data-image-src="images/grandprix-bg@2x.jpg" data-natural-width="2732" data-natural-height="1340"></div>
      	<div class="container grandprix-bg">
      		<div class="grandprix__img"><img src="images/map@2x.png"/></div>
      		<h2 class="grandprix__title ttl2">Выигрывай Гонку за продажами или Командную гонку и получи Гран-при в солнечной Грузии</h2>
      		<div class="grandprix__desc">В финале ЛПР, показавшие лучший результат по объему закупок продукции G-Energy, а также победители Командной гонки отпразднуют победу на торжественном мероприятии в Грузии, где будут награждены супер-призами.</div>
      	</div>
      </section>
    </section>
    <footer class="footer">
      <div class="container">
      	<div class="footer__wrap">
      		<div class="footer__logo-wrap">
      			<div class="footer__logo">
	      			<img src="images/footer-logo@2x.png" alt="G-club">
	      		</div>
	      		<ul class="footer__ul">
	      			<li class="footer__item-upper"><span class="footer__item-title">Горячая линия</span> <a href="tel:88005551991">8 (800) 555-19-91</a></li>
	      		</ul>
      		</div>
      		<div class="footer__ul-wrap">
      			<ul class="footer__ul">
	      			<div class="footer__ul-title">Скачать</div>
	      			<li class="footer__item"><a href="#!">Листовка ЛПР</a></li>
	      			<li class="footer__item"><a href="#!">Правила программы</a></li>
	      		</ul>
	      		<ul class="footer__ul">
	      			<div class="footer__ul-title">Гонка за продажами</div>
	      			<li class="footer__item"><a href="#!">G-Power</a></li>
	      			<li class="footer__item"><a href="#!">G-Phone</a></li>
	      			<li class="footer__item"><a href="#!">G-Card</a></li>
	      			<li class="footer__item"><a href="#!">G-Barrel</a></li>
	      		</ul>
	      		<ul class="footer__ul">
	      			<div class="footer__ul-title">Гонка за знаниями</div>
	      			<li class="footer__item"><a href="#!">G-Energy Academy</a></li>
	      			<li class="footer__item"><a href="#!">Вебинары</a></li>
	      			<li class="footer__item"><a href="#!">Живое общение</a></li>
	      			<li class="footer__item"><a href="#!">Обучение у экспертов</a></li>
	      			<li class="footer__item"><a href="#!">Подбор масел</a></li>
	      		</ul>
	      		<ul class="footer__ul">
	      			<div class="footer__ul-title">Рейтинги</div>
	      			<li class="footer__item"><a href="#!">РФ</a></li>
	      			<li class="footer__item"><a href="#!">Регион</a></li>
	      			<li class="footer__item"><a href="#!">Academy</a></li>
	      		</ul>
	      		<ul class="footer__ul">
	      			<div class="footer__ul-title">Победители</div>
	      			<li class="footer__item"><a href="#!">Победители GRAND PRIX</a></li>
	      			<li class="footer__item"><a href="#!">Победители-2018</a></li>
	      			<li class="footer__item"><a href="#!">Победители-2017</a></li>
	      			<li class="footer__item"><a href="#!">Победители-2016</a></li>
	      		</ul>
      		</div>
      	</div>
      	<div class="footer__gazlogo">
      		<img src="images/gazprom@2x.png" alt="Газпром Нефть">
      	</div>
      </div>
      <script src="js/jquery.min.js"></script>
    	<script src="js/parallax.min.js"></script>
    	<script src="js/main.js"></script>
    </footer>
  </body>
</html>

src/templates/index.pug
html(lang='en')
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body
		include includes/header
		section.content
			section.hero
				.container.hero-bg
					.hero__text
						h1.hero__text-top GRAND PRIX G-CLUB PROFESSIONAL
						.hero__text-mid Участвуй в гонке</br><span class='hero__text-mid-span'>за <span class='bold-italic'>продажами</span></span> и <span class='hero__text-mid-span'><span class='bold-italic'>знаниями</span></span>
						.hero__text-bot Выигрывай денежные подарки, ценные призы и<br>поездку в солнечную Грузию
			section.roadmap.roadmap_race-sale
				.container
					h2.roadmap__title.ttl2 Гонка за продажами
					ul.roadmap__ul
						li.roadmap__item
							.roadmap__img
								img(src="images/product-1.png")
							.roadmap__item-title Закупай продукцию
							.roadmap__desc Приобретай продукцию G-Energy через торговых представителей
						li.roadmap__item
							.roadmap__img
								img(src="images/product-2.png")
							.roadmap__item-title Получай денежные призы
							.roadmap__desc Получай деньги на карту, участвуя в сезонных акциях
						li.roadmap__item
							.roadmap__img 
								img(src="images/product-3.png")
							.roadmap__item-title Становись лучше
							.roadmap__desc Становись лучшим по объему закупленных литров G-Energy, выигрывай Гран-при и поездку в Грузию
					.roadmap__extra Следи за результатами гонки продаж <a href="#!">в общем рейтинге</a> на сайте.
			section.getprizes
				.container.getprizes-bg
					h2.getprizes__title Зарабатывай ценные призы
					ul.getprizes__ul
						li.getprizes__li
							.getprizes__img
								img(src="images/getprizes/1.png")
								
						
		

					


		include includes/footer
