src/templates/includes/header.pug
header.header
	.container
		.header_inner
			nav.nav
				ul.nav__ul
					li.nav__li
						a.nav__link.nav__link--active(href="#!") О клубе
					li.nav__li
						a.nav__link(href="#!") гонка за продажами
					li.nav__li
						a.nav__link(href="# !") Гонка за знаниями
					li.nav__li
						a.nav__link(href="#!") Рейтинги
					li.nav__li
						a.nav__link(href="#!") Победители
			.logo
				.logo__img
					img(src='images/logo.png')

dist/includes/header.html

<header class="header">
  <div class="container">
    <div class="header_inner">
      <nav class="nav">
        <ul class="nav__ul">
          <li class="nav__li"><a class="nav__link nav__link--active" href="#!">О клубе</a></li>
          <li class="nav__li"><a class="nav__link" href="#!">гонка за продажами</a></li>
          <li class="nav__li"><a class="nav__link" href="# !">Гонка за знаниями</a></li>
          <li class="nav__li"><a class="nav__link" href="#!">Рейтинги</a></li>
          <li class="nav__li"><a class="nav__link" href="#!">Победители</a></li>
        </ul>
      </nav>
      <div class="logo">
        <div class="logo__img"><img src="images/logo.png"/></div>
      </div>
    </div>
  </div>
</header>
