src/templates/includes/modals.pug
section.section-modals
	.modal(id='completereg')
		
		.modal_inner.modal_reg_complete
			.modal__title.ttl3 завершить регистрацию
			form.modal__form
					.feild
						.field__title Введите, пожалуйста, пароль, которыймы отправили на ваш телефон по смс
						input.field__input(type='text' placeholder='пароль из sms')
					
					.modal__form-row
						button.green_btn(type="submit") OK
			.modal__can
				img(src="images/can.png", alt="")
	.modal(id='reg')
		
		.modal_inner.modal_reg
			.modal__title.ttl3 регистрация
			form.modal__form
					.feild
						input.field__input(type='text' placeholder='Фамилия')
					.feild
						input.field__input(type='text' placeholder='Имя')
					.feild
						input.field__input(type='text' placeholder='Телефон')
					.feild
						input.field__input(type='text' placeholder='E-mail')
					
					.modal__form-row
						.feild.field_checkbox Я ознакомлен с <a href='#!'>правилами акции</a>
							input(type="checkbox", name="")
							span
					.modal__form-row
						.feild.field_checkbox Я согласен на обработку персональных данных.
							input(type="checkbox", name="")
							span
					.modal__form-row
						.feild.field_checkbox.captcha я не робот
							input(type="checkbox", name="")
							span
					.modal__form-row
						button.green_btn(type="submit") зарегистрироваться
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='auth')
		
		.modal_inner.modal_auth
			.modal__title.ttl3 авторизация
			form.modal__form
					.feild
						input.field__input(type='text' placeholder='телефон')
					.feild
						input.field__input(type='text' placeholder='пароль')
					.modal__form-row
						button.green_btn(type="submit") Получить приз
					.modal__form-row
						span
							a.modal_trigger(href="#forgotpass") Забыли пароль?
					.modal__form-row
						span Впервые на сайте?
							a.modal_trigger(href="#reg")  Зарегистрируйтесь
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='firstauth')
		.modal_inner.modal_firstauth
			.modal__title.ttl3 Я участвовал в акциях <b>Coke&Meal</b>, у меня есть логин и пароль.
			.buttons
				a.buttons__button.button_y.modal_trigger(href="#auth") ДА
				a.buttons__button.button_n.modal_trigger(href="#reg") НЕТ
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='check')
		.modal_inner
			.modal__title.ttl3 загрузить чек
			button.check загрузить чек
			.modal__can
				img(src="images/can.png", alt="")

	.modal(id='getgift')
		
		.modal_inner.modal_getgift
			.modal__title.modal_getgift_title.ttl3 Получение приза
			.modal__s <span>*</span> Все поля обязательны для заполнения
			.modal__name Иваненко Светлана Игоревна
			.modal__contacts
				.modal__phone +7 (922) 667-89-09
				.modal__mail volkonskih@mail.ru
			form.modal__form
					.feild.field_short
						.feild__title Дата рождения
						input.field__input(type='text' placeholder='ДД/ММ/ГГ')
					.feild
						.feild__title Адрес по прописке
						input.field__input(type='text' placeholder='г. Москва, ул. Большевиков, д. 1 с. 2, кв.186')
						
					.feild
						.feild__title Адрес доставки
						input.field__input(name="" placeholder='Регион')
						<select class="js-example-basic-single" name="state">
							<option value="AL">Alabama</option>
							<option value="WY">Wyoming</option>
						</select>
					.feild
						input.field__input(name="" placeholder='Город')
						<select class="js-example-basic-single field__input" name="state">
							<option value="AL">Alabama</option>
							<option value="WY">Wyoming</option>
						</select>
					.feild
						input.field__input(name="" placeholder='Улица')
						<select class="js-example-basic-single" name="state">
							<option value="AL">Alabama</option>
							<option value="WY">Wyoming</option>
						</select>
					.modal__form-row
						.feild.field_short
							input.field__input(name="" placeholder='№ дома')
						.feild.field_short
							input.field__input(name="" placeholder='№ квартиры')
					.modal__form-row.submit
						button.gr__btn(type="submit") Получить приз
					//- .feild.field_checkbox Я согласен на обработку персональных данных.
					//- 	input(type="checkbox", name="")
						span
			.modal__can
				img(src="images/can.png", alt="")

dist/includes/modals.html

<section class="section-modals">
  <div class="modal" id="completereg">
    <div class="modal_inner modal_reg_complete">
      <div class="modal__title ttl3">завершить регистрацию</div>
      <form class="modal__form">
        <div class="feild">
          <div class="field__title">Введите, пожалуйста, пароль, которыймы отправили на ваш телефон по смс</div>
          <input class="field__input" type="text" placeholder="пароль из sms"/>
        </div>
        <div class="modal__form-row">
          <button class="green_btn" type="submit">OK</button>
        </div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="reg">
    <div class="modal_inner modal_reg">
      <div class="modal__title ttl3">регистрация</div>
      <form class="modal__form">
        <div class="feild">
          <input class="field__input" type="text" placeholder="Фамилия"/>
        </div>
        <div class="feild">
          <input class="field__input" type="text" placeholder="Имя"/>
        </div>
        <div class="feild">
          <input class="field__input" type="text" placeholder="Телефон"/>
        </div>
        <div class="feild">
          <input class="field__input" type="text" placeholder="E-mail"/>
        </div>
        <div class="modal__form-row">
          <div class="feild field_checkbox">Я ознакомлен с <a href='#!'>правилами акции</a>
            <input type="checkbox" name=""/><span></span>
          </div>
        </div>
        <div class="modal__form-row">
          <div class="feild field_checkbox">Я согласен на обработку персональных данных.
            <input type="checkbox" name=""/><span></span>
          </div>
        </div>
        <div class="modal__form-row">
          <div class="feild field_checkbox captcha">я не робот
            <input type="checkbox" name=""/><span></span>
          </div>
        </div>
        <div class="modal__form-row">
          <button class="green_btn" type="submit">зарегистрироваться</button>
        </div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="auth">
    <div class="modal_inner modal_auth">
      <div class="modal__title ttl3">авторизация</div>
      <form class="modal__form">
        <div class="feild">
          <input class="field__input" type="text" placeholder="телефон"/>
        </div>
        <div class="feild">
          <input class="field__input" type="text" placeholder="пароль"/>
        </div>
        <div class="modal__form-row">
          <button class="green_btn" type="submit">Получить приз</button>
        </div>
        <div class="modal__form-row"><span><a class="modal_trigger" href="#forgotpass">Забыли пароль?</a></span></div>
        <div class="modal__form-row"><span>Впервые на сайте?<a class="modal_trigger" href="#reg"> Зарегистрируйтесь</a></span></div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="firstauth">
    <div class="modal_inner modal_firstauth">
      <div class="modal__title ttl3">Я участвовал в акциях <b>Coke&Meal</b>, у меня есть логин и пароль.</div>
      <div class="buttons"><a class="buttons__button button_y modal_trigger" href="#auth">ДА</a><a class="buttons__button button_n modal_trigger" href="#reg">НЕТ</a></div>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="check">
    <div class="modal_inner">
      <div class="modal__title ttl3">загрузить чек</div>
      <button class="check">загрузить чек</button>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
  <div class="modal" id="getgift">
    <div class="modal_inner modal_getgift">
      <div class="modal__title modal_getgift_title ttl3">Получение приза</div>
      <div class="modal__s"><span>*</span> Все поля обязательны для заполнения</div>
      <div class="modal__name">Иваненко Светлана Игоревна</div>
      <div class="modal__contacts">
        <div class="modal__phone">+7 (922) 667-89-09</div>
        <div class="modal__mail">volkonskih@mail.ru</div>
      </div>
      <form class="modal__form">
        <div class="feild field_short">
          <div class="feild__title">Дата рождения</div>
          <input class="field__input" type="text" placeholder="ДД/ММ/ГГ"/>
        </div>
        <div class="feild">
          <div class="feild__title">Адрес по прописке</div>
          <input class="field__input" type="text" placeholder="г. Москва, ул. Большевиков, д. 1 с. 2, кв.186"/>
        </div>
        <div class="feild">
          <div class="feild__title">Адрес доставки</div>
          <input class="field__input" name="" placeholder="Регион"/><select class="js-example-basic-single" name="state">
<option value="AL">Alabama</option>
<option value="WY">Wyoming</option>
</select>
        </div>
        <div class="feild">
          <input class="field__input" name="" placeholder="Город"/><select class="js-example-basic-single field__input" name="state">
<option value="AL">Alabama</option>
<option value="WY">Wyoming</option>
</select>
        </div>
        <div class="feild">
          <input class="field__input" name="" placeholder="Улица"/><select class="js-example-basic-single" name="state">
<option value="AL">Alabama</option>
<option value="WY">Wyoming</option>
</select>
        </div>
        <div class="modal__form-row">
          <div class="feild field_short">
            <input class="field__input" name="" placeholder="№ дома"/>
          </div>
          <div class="feild field_short">
            <input class="field__input" name="" placeholder="№ квартиры"/>
          </div>
        </div>
        <div class="modal__form-row submit">
          <button class="gr__btn" type="submit">Получить приз</button>
        </div>
      </form>
      <div class="modal__can"><img src="images/can.png" alt=""/></div>
    </div>
  </div>
</section>
